@tailwind base;
@tailwind components;
@tailwind utilities;

body: {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: 'border-box';
}

.yes-before::before {
  content: '';
  background: linear-gradient(180deg, #7FD1CC 0%, #9694F5 100%);
  border-radius: 999px;
  marginRight: 1rem;
  transition: 'all 0.1s ease-in';
  height: 1.5rem;
  width: 0.25rem;
}

.yes-before:not(:focus)::before {
  content: '';
  opacity: 0;
}

.DialogOverlay {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  inset: 0;
}


.DialogContent {
  border-radius: 6px;
  box-shadow: -4px 0px 30px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 90vw;
  max-width: 560px;
  height: 100%;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

}

